<div class="row">
    <div class="col-md-12">
        <p><span>Product Name:</span> HP Pavilion Series Laptop</p>
        <p><span>Price :</span> <input type="text" id="priceInput" placeholder="Enter Price"> TK</p>
        <a class="btn btn-primary" id="checkoutBtn" href="#"> <i class="fa fa-check"></i> Checkout</a> 
    </div>
</div>

<script>
   
    var priceInput = document.getElementById("priceInput");
    var checkoutBtn = document.getElementById("checkoutBtn");

   
    priceInput.addEventListener("input", function() {
        var price = priceInput.value;
    
        checkoutBtn.href = "/cart/checkout?price=" + price;
    });
</script>