@{
    ViewData["Title"] = "Cart";
}

<div class="text-center">
    <h1 class="display-4">Welcome SSL Commerz </h1>    
</div>

<div class="row">
    <div class="col-md-12">
        <p><span>Product Name:</span> HP Pavilion Series Laptop</p>
        <p><span>Price :</span> 85,000 TK</p>
        <a class="btn btn-primary" href="/cart/checkout"> <i class="fa fa-check"></i> Checkout</a> 
    </div>
</div>
